// Buttons
$baseColor: #5f2eea;
$hoverColor: #2a00a2;
$textColor: #f7f7fc;
$focusColor: #ded3ff;

// Text input
$inputBackground: #eff0f6;
$inputBorder: #14142b;
$inputSuccess: #00ba88;
$inputError: #ed2e7e;
$inputErrorBg: #fff2f7;
$inputCaption: #6e7191;
$inputPlaceholder: #a0a3bd;
$inputText: #14142b;
$inputSuccessBg: #f3fdfa;

// Panel
$panelColor: #fcfcfc;
