@use './responsive.scss' as breakpoints;
@use './colors.scss' as colors;
* {
  box-sizing: border-box;
}

html,
body {
  @media screen and (min-width: breakpoints.$large) {
    background-color: colors.$textColor;
  }
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
