.auth {
  display: flex;
  flex-direction: column;
}
.auth__heading {
  line-height: 0;
  text-decoration: underline;
}
.auth__email {
  max-width: 100%;
}
.auth__control {
  align-self: flex-end;
}
.auth__control--margin-top {
  margin-top: 2rem;
}

/* Media Queries */
@media screen and (min-width: 576px) {
  .auth {
    max-width: var(--small);
    margin-top: 4.5rem;
  }
  .auth__email {
    align-self: center;
  }
}
